---
---

@import 'main';

/* append your custom style below */

@font-face {
  font-family: 'JetBrains Mono Regular';
  src: url("/blog/assets/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2") format("opentype");
}

.content {
  font-size: 1.3rem;
}

code.highlighter-rouge {
  font-size: 1rem;
}

main article, main article h1, main article p {
  color: #DDD;
}

#sidebar {
  background: #000;
}

pre code {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: 1.05rem;
}

.highlight pre {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: 1.05rem;
}

#sidebar #avatar img:hover {
  transform: scale(1.8);
  transform-origin: center center;
}

#sidebar #avatar img {
  transition: transform 2s ease;
  transform-origin: center center;
}
